extends layout/index

block content
  .col-md-offset-1.col-md-11.content
    h2 Artículos 
      span=sectionTitle
    .row
      section.col-md-9.articles
        article
          h2.article-title
            a(href=`/article/`+featuredArticle._id)=featuredArticle.title
          .hot-article-container
            .hot-article-img
              img.img-responsive(src=featuredArticle.image, alt='article-img')
            .hot-article-body!=featuredArticle.body
        .articles-section.col-md-12
          each article in articles
            article.article-body
              h2.article-title
                a(href=`/article/`+featuredArticle._id)=featuredArticle.title
              .row
                div
                  img.img-responsive(src=article.image, alt='article-img')
                div!=article.body
      include layout/aside
