extends layout/index

block content
  .col-md-offset-1.col-md-11.content
    .row
      section.col-md-9.articles
        h2 Artículos 
          span=sectionTitle
        if featuredArticle
          article
            h2.article-title
              a(href=`/article/`+featuredArticle._id)=featuredArticle.title
            .hot-article-container
              .hot-article-img
                img.img-responsive(src=featuredArticle.image, alt='article-img')
              .hot-article-body!=featuredArticle.body
                .read-more
                  a(href=`/article/`+featuredArticle._id)
                    button.read-more-button Leer más
                .article-information
                  p Autor: 
                    a(href=`/user/`+featuredArticle.author._id)=featuredArticle.author.name
                  p.date-of-publish Fecha de publicación: 
                    span=featuredArticle.date_pretty
          .articles-section.col-md-12
            if articles
              each article in articles
                article.article-body
                  h2.article-title
                    a(href=`/article/`+article._id)=article.title
                  div.article-img
                    img.img-responsive(src=article.image, alt='article-img')
                  .article-content!=article.body
                  .article-footer
                    .read-more
                      a(href=`/article/`+article._id)
                        button.read-more-button Leer más
                    .article-information
                      p Autor: 
                        a(href=`/user/`+article.author._id)=article.author.name
                      p.date-of-publish Fecha de publicación: 
                        span=article.date_pretty
          .pagination
            if page > 1
              a(href=baseUrl+(page-1)).prev-page
                i.glyphicon.glyphicon-chevron-left.page-button
            if articles.length == 4
              a(href=baseUrl+(page+1)).next-page
                i.glyphicon.glyphicon-chevron-right.page-button
        else
          h2 No hay más artículos que mostrar
      include layout/aside
