extends layout/login

block content
  .col-md-offset-2.col-md-8.profile-modify
    h2 Modificar perfil
    .row
      .col-md-4
        img.img-responsive(src=userData.avatar)
        form.imageUpload(data-id=userData._id)
          input.input-file(type='file' id='file' name='avatar' acept='image/*' required)
          label(for='file' id='file-upload-label') Selecciona una imagen
          button.glyphicon.glyphicon-camera.updateAvatar(type='submit')
      .col-md-8
        form.userDataModify(data-id=userData._id)
          span Name: 
          input.form-control(type='text' placeholder='Nombre' name='name' value=userData.name)
          br
          span Descripción: 
          input.form-control(type='textarea' placeholder='Describete a ti mismo' name='description' value=userData.description )
          br
          span Página web: 
          input.form-control(type='text' placeholder='Introduce tu portal web favorito' name='website' value=userData.website)
          br
          .buttons
            button.updateUserData.submit-form-button(type='submit') Actualizar perfil
            a.view-profile-button(href=`/user/`+ userData._id)
              button(type='button') Ver perfil
        
