extends layout/login

block content
  .col-md-offset-1.col-md-11.content
    .row
      section.col-md-11.user-profile
        article
          h1.user-title=profileData.name
          .row
            .user-container.col-md-3
              img.img-responsive(src=profileData.avatar, alt='article-img')
            .user-body
              p Nombre: 
                strong=profileData.name
              p Descripci칩n: 
                strong=profileData.description
              p Fecha de registro: 
                strong=profileData.date_of_creation
              p Correo electr칩nico: 
                strong=profileData.email
              p P치gina web: 
                a(href=profileData.website target='_BLANK')
                  strong=profileData.website
              p Usuario: 
                if profileData.user_type === 0
                  strong b치sico
                else if profileData.user_type === 1
                  strong administrador
              if ownProfile
                a.user-button(href=`/user/`+ profileData._id +`/modify`)
                  button.modify-button Modificar perfil
